body{
	background-color: #E0DCC4;
	height: 100%;
	width: 100%;
	padding-top: 200px;
}
.block{
	height: 125px;
	width: 100.3%;
	background: #5A5B5C;
	box-sizing: border-box;
	padding-top: 2%;
	padding-left: 7.5%;

}
.block a{
	color: #a6daff;
}
.header{
	height: 200px;
	background: #E0DCC4;
	font-size: 50px;
}
.header img{
	height: 50%;
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 37%;

}
.header p{
	font-size: 70px;
	margin-top: 5%;
	color: #006D9D;

}

.main{
	height: 130%;
	width: 100%;
	margin-bottom: 13%;

}
.publbtn p{
	font-size: 90px;
	text-align: center;

}
.publbtn2 p{
	font-size: 90px;
	text-align: center;

}
.projectbtn{
	opacity: 25%;
}
.postinput{
	height: 80px;
	width: 650px;
	font-size: 40px;
	margin-bottom: 3%;
}
.posting p{
font-size: 50px;

}
.postbtn{
	height: 80px;
	width: 300px;
	font-size: 40px;
}
.bisnes{
	width: 100%;
	display: block;
}
.project{
	display: none;
}
.postboxing{
	height: 120%;
	width: 100%;
	background: #D3A053;
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3%;
	padding-bottom: 3%;
	box-sizing: border-box;
	padding-left: 3%;
	margin-bottom: 3%;
}
.postboxing img{
	height: 100%;
	width: 80%;
	margin-left: 10%;

}
.account{
	height: 30%;
	width: 100%;
	background: grey;
	padding-top: 8%;
	padding-bottom: 8%
}
.account img{
	width: 30%;
	margin-left: 33%;
	border-radius: 48%;
}
.myself{
	width: 80%;
	margin-left: 10%;
	font-size: 40px;
	margin-top: 3%
}
.myself h6{
	font-size: 50px;
}
.postboxing h5{
font-size: 50px;
}
.postboxing h6{
	font-size: 30px;
}
.postboxing p{
	font-size: 40px;
}
.btnall{
	font-size: 40px;
	width: 50%;
	text-align: center;
}
.btnall2{
	font-size: 50px;
	width: 50%;
	text-align: center;
}
.flex{
	display: flex;
}
.all{
	opacity: 100%;
}
.music{
	opacity: 25%;
}
.photo{
	opacity: 25%;
}
.art{
	opacity: 25%;
}
.postall{
	display: block;
}
.postmusic{
	display: none;
}
.postphoto{
	display: none;
}
.postart{
	display: none;
}
hr{
	height: 2%;
}
.stick{
	height: 100px;
	margin-left: 5%;
}